<h1>Listing recurring_stops</h1>

<table>
  <tr>
    <th>Truck</th>
    <th>Location</th>
    <th>Day of week</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @truck_recurring_stops.each do |recurring_stop| %>
  <tr>
    <td><%= recurring_stop.truck.name %></td>
    <td><%= recurring_stop.location.address %></td>
    <td><%= recurring_stop.day_of_week %></td>
    <td><%= recurring_stop.start_date %></td>
    <td><%= recurring_stop.end_date %></td>
    <td><%= recurring_stop.start_time %></td>
    <td><%= recurring_stop.end_time %></td>
    <td><%= link_to 'Show', truck_recurring_stop_path(recurring_stop.id, recurring_stop.truck.id) %></td>
    <td><%= link_to 'Edit', edit_truck_recurring_stop_path(recurring_stop.id, recurring_stop.truck.id) %></td>
    <td><%= link_to 'Destroy', truck_recurring_stop_path(recurring_stop.id, recurring_stop.truck.id), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recurring stop', new_truck_recurring_stop_path %>
