<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @truck.name %>
</p>

<p>
  <b>Website:</b>
  <%= @truck.website %>
</p>

<p>
  <b>Twitter:</b>
  <%= @truck.twitter %>
</p>

<p>
  <b>Yelp:</b>
  <%= @truck.yelp %>
</p>

<p>
  <b>Stops:</b>
  <table>
  <% @this_weeks_stops.each do |stop| %>
    <tr>
      <td><%= stop.location.address %></td>
      <td><%= stop.day %></td>
      <td><%= stop.hours %></td>
      <td><%= link_to 'Show', stop %></td>
    </tr>
  <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
