<p id="notice"><%= notice %></p>

<p>
  <b>Truck:</b>
  <%= link_to @truck.name, @truck %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @neighborhood.name %>
</p>

<p>
  <b>Location:</b>
  <%= @location.address %>
</p>

<p>
  <b>Day:</b>
  <%= @stop.day %>
</p>

<p>
  <b>Hours:</b>
  <%= @stop.hours %>
</p>


<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
